<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TProductMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.TProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="zhanggui" jdbcType="VARCHAR" property="zhanggui" />
    <result column="categoryId" jdbcType="VARCHAR" property="categoryid" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="goodsTitle" jdbcType="VARCHAR" property="goodstitle" />
    <result column="stock" jdbcType="VARCHAR" property="stock" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="promotionPrice" jdbcType="VARCHAR" property="promotionprice" />
    <result column="salesVolume" jdbcType="VARCHAR" property="salesvolume" />
    <result column="confirmGoodsCount" jdbcType="VARCHAR" property="confirmgoodscount" />
    <result column="comentCount" jdbcType="VARCHAR" property="comentcount" />
    <result column="deliveryFromProvince" jdbcType="VARCHAR" property="deliveryfromprovince" />
    <result column="deliveryFromCity" jdbcType="VARCHAR" property="deliveryfromcity" />
    <result column="bookmarks" jdbcType="VARCHAR" property="bookmarks" />
    <result column="shopType" jdbcType="INTEGER" property="shoptype" />
    <result column="shopLength" jdbcType="VARCHAR" property="shoplength" />
    <result column="shopName" jdbcType="VARCHAR" property="shopname" />
    <result column="goodsId" jdbcType="VARCHAR" property="goodsid" />
    <result column="spuId" jdbcType="VARCHAR" property="spuid" />
    <result column="sellerId" jdbcType="VARCHAR" property="sellerid" />
    <result column="shopId" jdbcType="VARCHAR" property="shopid" />
    <result column="encryptSellerId" jdbcType="VARCHAR" property="encryptsellerid" />
    <result column="apiBeans" jdbcType="VARCHAR" property="apibeans" />
    <result column="initApi" jdbcType="VARCHAR" property="initapi" />
    <result column="shopRate" jdbcType="VARCHAR" property="shoprate" />
    <result column="shuxing" jdbcType="VARCHAR" property="shuxing" />
    <result column="zizhi" jdbcType="VARCHAR" property="zizhi" />
    <result column="sellerCredit" jdbcType="VARCHAR" property="sellercredit" />
    <result column="totalRate" jdbcType="VARCHAR" property="totalrate" />
    <result column="dataRateUrl" jdbcType="VARCHAR" property="datarateurl" />
    <result column="rateCounterApi" jdbcType="VARCHAR" property="ratecounterapi" />
    <result column="yinxiang" jdbcType="VARCHAR" property="yinxiang" />
  </resultMap>
</mapper>