<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TSystemlogMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.TSystemlog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="taskerName" jdbcType="VARCHAR" property="taskername" />
    <result column="taskerSeries" jdbcType="VARCHAR" property="taskerseries" />
    <result column="taskerOwner" jdbcType="VARCHAR" property="taskerowner" />
    <result column="runHost" jdbcType="VARCHAR" property="runhost" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="result" jdbcType="INTEGER" property="result" />
    <result column="errMessage" jdbcType="VARCHAR" property="errmessage" />
    <result column="runtime" jdbcType="VARCHAR" property="runtime" />
    <result column="proxy" jdbcType="VARCHAR" property="proxy" />
  </resultMap>
</mapper>